* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(to bottom, black, white) no-repeat;
    font-family: "Arimo-Regular", sans-serif;
}

main {
    margin: 20px;
    padding: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 60px;
  background: linear-gradient(180deg, black, #919191);
  border-bottom: 1px solid #ddd;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo-text h1 {
  color: white;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 38px;
  
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    transition: font-size 0.3s ease;
}


.undertext{
    color: rgb(255, 255, 255);
}


.logo-text {
  
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  
}


.logo-text p {
  margin: 0;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 18px;
  
}


.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li a {
  text-decoration: none;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 18px;
  color: #ffffff;
  transition: color 0.2s ease-in-out;
}

.navigation li a:hover {
  color: #ffffff;
}

header {
    color:#ccc2b2;
    padding: 10px 0;
    border-bottom: 2px solid lightslategray;
    margin: 10px;
    display: flex;
    justify-content: space-between;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    flex-wrap: nowrap;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.footer {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

    
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}