body {
    color: yellow;
    background-color: black;
    font-family: "Monaco", monospace;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}


.table td,
.table th {
    border: 2px solid yellow;
    padding: 8px;
}

tr:hover {
    color: black;
    background-color: white;
    transition: 0.2s ease;
    text-shadow: 0px 0px 10px white;
}

.table {
    border-collapse: collapse;
    border: 2px solid yellow;
}