body {
    color: #005eff; 
    background-color: white; 
    font-family: "Arimo-Regular", sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: default; 
}

tr:hover {
    color: white; 
    background-color: #005eff;
    border: 1px solid transparent;
    transition: 0.2s ease;
    text-shadow: none; 
}

table {
    font-size: 25px;
    width:100%;
    color: #003399;
    border:1px solid #000;
    border-collapse:collapse; 
}

th,td{
    border:1px solid #000;
    padding:10px;
    text-align:center; 
}